<div class="optionsContainer">
    <!--Template for Bootstrap type ahead-->
    <script type="text/ng-template" id="customTemplate.html">
        <a class="dropdown-item">
            <img ng-if="match.model.isPatient" ng-src="img/RedDot.png" width="16">
            <img ng-if="!match.model.isPatient" ng-src="img/BlueDot.png" width="16">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
    <div class="filters option">
        <div class="filters-header">
            <i class="fas fa-filter" style="color: white"></i> Filters:
        </div>
        <div class="selection">
            <div class="optionRow">
                <label for="typeSelect">By Type: </label>
                <select name="typeSelect" id="typeSelect" ng-change="RefreshFilters()" ng-model="typeSelected">
                    <option value="All">All Types</option>
                    <option value="Patients">Patients</option>
                    <option value="CareGivers">Care Givers</option>
                </select>
            </div>

            <div class="optionRow">
                <label for="languageSelect">By Language: </label>
                <select name="languageSelect" id="languageSelect" ng-change="RefreshFilters()"
                        ng-model="languageSelected">
                    <option value="All">All Languages</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="optionRow">
                <label>By Age: </label>
                <div class="age-slider">
                    <rzslider rz-slider-model="ageSlider.minValue"
                              rz-slider-high="ageSlider.maxValue"
                              rz-slider-options="ageSlider.options"></rzslider>
                </div>
            </div>
            <button type="button" class="btn btn-outline-primary" ng-click="ClearFiltersClicked()">Clear Filters
            </button>
        </div>
    </div>

    <div class="search option">
        <div class="filters-header">
            <i class="fas fa-search" style="color: white"></i> Search:
        </div>
        <div class="selection">
            <div class="optionRow">
                <label for="searchName">By Name: </label>
                <input type="text" id="searchName" ng-model="PersonChosen" placeholder="Enter Name"
                       uib-typeahead="person as (person.First + ' ' + person.Last) for person in filtersCtrl.items | filter:$viewValue | orderBy: 'First'"
                       typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"
                       typeahead-min-length="0" typeahead-focus-on-select="SearchName()">
            </div>
        </div>
    </div>
    <br/>
<!--    <div class="optionRow">-->
<!--        <button type="button" class="btn btn-outline-primary" ng-click="ResetMap()">Reset</button>-->
<!--    </div>-->
</div>
