<div class="map">
    <ng-map id="map" zoom="12" center="[{{defaultLat}}, {{defaultLon}}]">
        <info-window id="personDetails">
            <div ng-non-bindable>
                <p class="person-name">{{currentPerson.First + ' ' + currentPerson.Last}}</p>
                <p class="person-type" ng-if="currentPerson.isPatient" style="color: red;">Patient</p>
                <p class="person-type" ng-if="!currentPerson.isPatient" style="color: blue;">Care Giver</p>

                <table class="details-table">
                    <tr>
                        <td><span class="title">ID: </span>{{currentPerson.ID}}</td>
                        <td><span class="title">Language: </span>{{currentPerson.Language}}</br></td>
                    </tr>
                    <tr>
                        <td><span class="title">Passport: </span>{{currentPerson.Passport}}</td>
                        <td><span class="title">Phone1: </span>{{currentPerson.Phone1}}</br></td>
                    </tr>
                    <tr>
                        <td><span class="title">Care level: </span>{{currentPerson.CareLevel}}</td>
                        <td><span class="title">Phone2: </span>{{currentPerson.Phone2}}</br></td>
                    </tr>
                    <tr>
                        <td><span class="title">Address: </span>{{currentPerson.Address}}</td>
                        <td><span class="title">Status: </span>{{currentPerson.Status}}</br></td>

                    </tr>
                    <tr>
                        <td><span class="title">City: </span>{{currentPerson.City}}</td>
                        <td><span class="title">Birthday: </span>{{currentPerson.Birthday}}</br></td>

                    </tr>
                    <tr>
                        <td><span class="title">Area: </span>{{currentPerson.Area}}</td>
                        <td><span class="title">Age: </span>{{currentPerson.Birthday | ageFilter}}</td>
                    </tr>
                    <tr>
                        <td><span class="title">Gender: </span>{{currentPerson.Gender}}</td>
                        <td><span class="title">Review: </span>{{currentPerson.Review}}</br></td>
                    </tr>
                </table>
            </div>
        </info-window>
    </ng-map>
    <div class="cluster option">
        <div class="filters-header">
            <i class="fas fa-wrench" style="color: white"></i> Options:
        </div>
        <input type="checkbox" ng-model="clusterChecked"> Cluster</td>
    </div>
</div>
