[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body{
    padding-left: 20px;
    padding-right: 20px;
}
.map{
    float: right;
    width: calc(100% - 310px);
}
.optionsContainer{
    float: left;
    width: 300px;
}
ng-map{
    display: block;
    height: 90vh;
    width: 100%;
}
.header{
    width: 100%;
    background-color: lightskyblue;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    color: #454a50;
}
.title{
    color: teal;
    font-weight: bold;
    width: 40px;
}
.option{
    margin-bottom: 10px;
}

.details-table{
    border: none;
}
.details-table td{
    width: 175px;
}
.person-type{
    font-weight: bold;
    font-size: small;
    text-align: center;
}
.person-name{
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-bottom: 0px;
}
.filters-header{
    background-color: cornflowerblue;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 5px;
    color: #32363b;
}
.optionsContainer .filter-type{
    font-size: small;
    font-weight: bold;
    text-decoration: underline;
}
.optionsContainer .optionRow{
    display: flex;
}
.optionsContainer .optionRow label{
    flex: 1;
}
.optionsContainer .optionRow select{
    flex: 1;
}
.optionsContainer .optionRow .age-slider{
    flex: 1;
}
.optionsContainer .optionRow rzslider{
    flex: 1;
}
.developer{
    position:absolute;
    left: 20px;
    bottom: 2px;
    font-size: small;
}

.rzslider .rz-pointer{
    background-color: #adadae !important;
}
.rzslider .rz-selection{
    background-color: #adadae !important;
}
.rzslider .rz-pointer.rz-active:after{
    background-color: #454a50 !important;
}
